# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# ignore all folder with the name in any directory/subdirectory: raw.githubusercontent.com
**/raw.githubusercontent.com/

# ignore all fit results
**/nn/GRNN*
**/nn/GQNN*

# ignore fit logs
**/scripts/GRNN*
**/scripts/GQNN*
**/scripts/model*

# ignore all files with the name full_data.pkl
**/full_data.pkl

# ignore all files with the name softmax_GQNN_value_fields.npz
**/softmax_GQNN_value_fields.npz
